/**, *::before, *::after {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
    font-family: "Roboto", sans-serif;
    text-align: center;

}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 3em;
    margin-bottom: 0;
}

.text--accent {
    color: #00a1ab;
}

.fs-500 {
    font-size: 1.3125rem;
}

.plans {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.plan {
    width: 200px;
    padding: 2em;
    border-radius: 1em;
    margin: 0 0.5em;
}

.plan:hover {
    transition: 1s;
    transform: scale(1.1);
    box-shadow: #4e4e4e 2px 2px 10px;
}

.plan--light {
    color: #000;
    background: linear-gradient(-45deg, #e5e3e8, #fafafa);;
}

.plan--dark {
    color: #fff;
    background: linear-gradient(-45deg, #00a1ab, #3741a0);
}

.plan_title {
    text-transform: uppercase;
    margin: 0 0 1em;
}

.plan_price {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.plan_price span {
    display: block;
    font-size: 1.5625rem;
    font-weight: 300;
}

.plan_description {
    margin: 2em 0;
    line-height: 1.5;
}

.button {
    text-decoration: none;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    text-transform: uppercase;
    font-weight: 700;
}

.accent--button {
    background: #00a1ab;
    color: #fff;
}

.accent--button:hover,
.accent--button:focus {
    color: #00a1ab;
    background: white;
    transition: 1s;
    border: #00a1ab 2px solid;
}

.light--button {
    background: white;
    color: #4e4e4e;
}

.light--button:hover,
.light--button:focus {
    color: white;
    background: #4e4e4e;
    transition: 1s;
}

.dark--button {
    color: #fff;
    background: #4e4e4e;
}

.dark--button:hover,
.dark--button:focus {
    color: #4e4e4e;
    background: white;
    transition: 1s;
}




